.free-delivery {
    font-size: 500;
    color: black;
}
.link {
    color: rgb(0, 113, 133);
}
.txt {
    font-weight: bold;
    color: rgb(0, 118, 0);
    font-size: large;
}
.add-to-cart {
    background-color: rgb(255, 216, 20);
    height: 30px;
    border: none;
    width: 120px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.15s;
    
}
.add-to-cart:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    background-color: aqua;
    opacity: 0.8;

}
.add-to-cart:active{
    opacity: 0.4;
}


.buy-now{
   background-color: rgb(255, 164, 28); 
   height: 30px;
   border: none;
   width: 120px;
   border-radius: 100px;
   cursor: pointer;
   margin-left: 10px;
   transition: background-color 1s,
    color 1s;
    
}
.buy-now:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    background-color: rgb(12, 105, 186);
    color: blue;
}
.buy-now:active{
    opacity: 0.7;
}